[Unit]
Description=API de teste da Semana da Química
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/bin/sh -c 'cd /root/SemanaTeste && venv/bin/python -m uvicorn app.main:app --port 8000'
Restart=always


[Install]
WantedBy=multi-user.target