[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
python-dotenv = "*"
pyjwt = "*"
google-auth = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
